<!DOCTYPE html>
<html>
  <head>
    <title>SNstudio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta property="og:title" content="SNstudio - SNstudio的作品庫">
		<meta property="og:site_name" content="SNstudio">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://snserver.herokuapp.com/">
		<meta property="og:image" content="http://snserver.herokuapp.com/images/SNicon.jpg"/>
		<meta property="og:description" content="SNstudio的作品都會放在這邊喔！"/>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>歡迎來到SNstudio的作品伺服器</h2>
    <a href="/schoolTodoListInterface">班級聯絡簿</a>
  </body>
</html>
