<!DOCTYPE html>
<html>
  <head>
    <title>SNstudio</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>歡迎來到SNstudio的作品伺服器</h2>
  </body>
</html>
