<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>Todo list</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="javascripts/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <table border="0">
            <tr align="center" valign="middle">
              <!-- <td>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </td> -->
              <td class="navbar-brand">
                網頁式聯絡簿
              </td>
              <td>
                <input type="text" class="form-control" placeholder="請輸入日期" id="dateInput" onchange="query(this.value)">
              </td>
              <td>&nbsp;
                <button type="button" class="btn btn-success" id="queryButton">查詢</button>
              </td>
              <td>

            </td>
            </tr>
          </table>
        </div>
          <div class="navbar-form navbar-right">
              <button id="goViewPage" class="btn btn-link">view</button>
          </div>
        <div id="navbar" class="navbar-collapse collapse">
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <!-- <div class="spinner">
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div> -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <!-- aaaaa
        <div class="spinner" id="waveLoader">
          <div class="rect1">aaa</div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div> -->
        <h1>This website is powered by SNstudio</h1>
        <p>This interface makes it easy for 217 classmates to share and record the important things,
and it makes it easy to update the todo list that you're sharing. If you have any need, please feel free to contact seanlin12345@gmail.com</p>
        <button class="btn btn-primary btn-lg" type="text" id="sendButton">送出 &raquo;</button>
        <div style="display:none" class="alert alert-success" role="alert" id="showSuccess">
          <a href="#" class="alert-link">送出成功</a>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>今日作業</h2>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="hw"></textarea>
          </div>
        </div>
        <div class="col-md-4">
          <h2>明天要帶</h2>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="toBring"></textarea>
          </div>
       </div>
        <div class="col-md-4">
          <h2>明天要考</h2>
          <div class="form-group">
            <textarea class="form-control" rows="5" id="test"></textarea>
          </div>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; 2016 SNstudio</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/jquery.min.js"><\/script>')</script>
    <script src="javascripts/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="javascripts/ie10-viewport-bug-workaround.js"></script>
    <script src="javascripts/schoolTodoList.js"></script>
  </body>
</html>
